.panel {
    min-height: 70vh;
    width: 70%;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    color: white;
    background-color: #4343435e;

    &__title {
        font-weight: lighter;
        font-size: 34px;
        margin-top: 0;
    }
}
  
@media (max-width: $breakpoint-medium) {
    .panel {
        min-height: 80vh;
        width: 80%;
    }
}
  
@media (max-width: $breakpoint-small) {
    .panel {
      min-height: 85vh;
      width: 85%;
      padding: 10px;
    }
}