@import './breakpoints.scss';
@import '../Components/Panel/panel.scss';
@import '../Components/SubscribeSwitch/subscribe-switch.scss';
@import '../Components/Loading/loading.scss';
@import '../Components/Header/header.scss';
@import '../Components/Footer/footer.scss';
@import '../Components/SnowSection/snow-section.scss';
@import '../Components/WindSection/weather-section.scss';
@import '../Components/TemperatureSection/temperature.scss';
@import '../Components/ContentSection/content-section.scss';

.app {
  text-align: center;
  font-size: 15px;
  height: 100vh;
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
}