.temperature {
    margin: 10px;
    width: 25%;
  
  &__title {
    font-size: 18px;
    margin: 0;
  }

  &__value {
    margin-top: 10px;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__unit {
    font-size: 16px;
    padding-left: 5px;
  }
}

@media (max-width: $breakpoint-medium) {
  .temperature {
    width: 30%;
  }
}

@media (max-width: $breakpoint-small) {
  .temperature__value {
    font-size: 40px;
  }
}