.subscribe__container {
    display: flex;
    align-items: center;
    padding-left: 30px;
    flex: 2;
}

.subscribe__message {
    font-size: 13px;
}

@media (max-width: $breakpoint-medium) {
    .subscribe__container {
        padding-left: 15px;
    }
}

@media (max-width: $breakpoint-small) {
    .subscribe__container > .MuiFormControlLabel-root {
        margin-right: 5px;
    }
}