.content-section {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;

    &__spacer,
    &__icon {
        width: 50px;
    }
}

.weather-container {
    align-items: center;
}

@media (max-width: $breakpoint-large) {
    .content-section {
        width: 95%;
    }
}

@media (max-width: $breakpoint-medium) {
    .content-section {
        justify-content: center;

        &__icon,
        &__spacer {
            display: none;
        }
    }
    .temperature-container {
        justify-content: space-between;
    }
}

@media (max-width: $breakpoint-small) {
    .content-section {
        width: 100%;
    }
}